{% extends "@Symfrop/base.html.twig" %}

{% block title %}
    {{ __('Symfrop Action Edition') | title }}
{% endblock title %}

{% block body %}
<div class="symfrop-col">
      <h1 class="symfrop-text-center">{{ __('Symfrop Action Edition') | title }}</h1>
      <div class="symfrop-bg-dark">
        <hr>
      </div>

      <div class="symfrop-row">
        <div class="symfrop-col symfrop-text-right">
            {{ create_symfrop_link('njeaner_symfrop_role_index', __u('Roles index'), {}, {class:"symfrop-btn symfrop-btn-primary"}) }}
        </div>
    </div>
    <hr/>
      <div class="symfrop-row symfrop-flex-center">
          <div class="symfrop-col symfrop-flex symfrop-flex-center" >
            <div style="padding-top: 10px;" class="symfrop-form" style="width: 200px;">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                
                <div>
                    <button type="submit" class="symfrop-btn symfrop-btn-primary">{{ __u('Save') }}</button>
                </div>
                {{ form_end(form) }}
            </div>                
          </div>
      </div>
</div>

{% endblock body %}